  
       
        #l{ 
            margin-top: -30px;
            padding: 10px;
            color: black;
            width: 333px;
            margin-left: 700px;
         }
         
         .g{
             margin-left: 170px;
             margin-top: -20px;
         }
         
         .f{
            position: relative;
             margin-left: 500px;
             margin-top: -20px;
         }
         i{
            color: coral;
         }