{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <link rel="stylesheet" href="{static 'css/farmer.css'}">
    <style>
        body{
            background-color: aqua;
            background-image: url("https://i.pinimg.com/originals/a6/de/c8/a6dec8a11bdedd88cb4f4e7e12c0c1c3.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position:0px;
            margin-bottom: 600px;
        }
    </style>  

</head>
<body>
   <div class="a" ><button><a href="farmer register form.html"> Register</a> </button></div> 
   <div class="f"><button><a href= "C:\Users\PC\OneDrive\Desktop\74DA2\lingaraju\Scripts\project16\templates\farmer_lg.html">Login</a></button></div>
    
     <div class="g"><button><a href="https://www.amazon.in/Seeds/b?ie=UTF8&node=4297301031">Buynow</a></button></div> 

    <marquee behavior="scroll" direction="left" scrollamount="10" id="l"> <h1>forming is way of  life not a business </h1></marquee>

    <p >A farmer is a person engaged in agriculture, raising living organisms for food or
         raw materials.[2] The term usually applies to people who do some combination of raising field crops,
          orchards, vineyards, poultry, or other livestock. A farmer might own the farm land or might work as a  laborer on land owned by others. In most developed economies, a "farmer" is usually a farm owner (landowner), while employees of the farm are known as farm workers (or farmhands). However, in other older definitions a farmer was a person who promotes or improves the growth of plants, land or crops or raises animals (as livestock or fish) by labor and attention.

        Over half a billion farmers are smallholders, most of whom are in developing countries,
         and who economically support almost two billion people.[3][4] Globally, women constitute
          more than 40% of agricultural employees.[5]</p>
    <div>
        Farmer
    </div>  
    <p >A farmer is a person engaged in agriculture, raising living organisms for food or
        raw materials.[2] The term usually applies to people who do some combination of raising field crops,
         orchards, vineyards, poultry, or other livestock. A farmer might own the farm land or might work as a laborer on land owned by others. In most developed economies, a "farmer" is usually a farm owner (landowner), while employees of the farm are known as farm workers (or farmhands). However, in other older definitions a farmer was a person who promotes or improves the growth of plants, land or crops or raises animals (as livestock or fish) by labor and attention.

       half a billion farmers are smallholders, most of whom are in developing countries,
        and who economically support almost two billion people.[3][4] Globally, women constitute
         more than 40% of agricultural employees.[5]</p>
         
    
</body>