{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/farmerlogin.css'%}">
    <style>
        body{
            background-color: aqua;
            background-image: url(https://m.media-amazon.com/images/I/61Oj4q4AZxL._AC_UF1000,1000_QL80_.jpg); 
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
    
</head>
<body >
   
    <div> <img  id="farmer"  src="{% static 'images/paddy_farmer.jpg' %} " ></div>
    <div> <img id="simble" src="{% static 'images/Farmer modal.jpg' %}" ></div>
    <h2 class="a">Farmer Registration and Unified beneficiary InformaTion System</h2>
    <button class="home">Home</button> 
    <button>Contcts us</button>

    <form > 
        <label class="block">Mobile No</label>
        <input  type="text"><br><br>
    
        <label class="block">Pass Word</label>
        <input  type="text">
    </form>
    <div><button class="king"> Login</button></div> 
    <div><button class="king">Reset Password</button> </div>
    <div><button class="king">Citizen Registraction</button></div>
    <div><button class="king">Update Mobile No</button></div>
    <p id="text">The word farmer usually refers to a person who has a field, orchard, vineyard, or garden where food is grown.
         This food is eaten or sold after it is harvested. Farmers may also grow raw materials for industrial purposes.
        Some examples of raw materials that are used in this way are
        Farming is growing crops and keeping animals for food and raw materials. Farming is a part of agriculture.

        Agriculture started thousands of years ago, but no one knows for sure how old it is.[1] 

        The development of farming gave rise to the Neolithic Revolution as people gave up nomadic 
       hunting and became settlers in cities.

     Agriculture and domestication probably started in the Fertile Crescent (the Nile Valley, the Levant and Mesopotamia).
     [2] The area called Fertile Crescent is now in the countries of Iraq, Syria, Turkey, Jordan, Lebanon, Israel, and Egypt. 
     Wheat and barley are some of the first crops people grew. People probably started agriculture slowly by planting a few crops,
      but still gathered many foods from the wild. 
     People may have started farming because the weather and soil began to change. 
      can feed many more people than hunter-gatherers can feed on the same amount of land.

     this allowed the human population to grow to such large numbers as there are today.[3][4]
     The word farmer usually refers to a person who has a field, orchard, vineyard, or garden where food is grown.
         This food is eaten or sold after it is harvested. Farmers may also grow raw materials for industrial purposes.
        Some examples of raw materials that are used in this way are
        Farming is growing crops and keeping animals for food and raw materials. Farming is a part of agriculture.

        Agriculture started thousands of years ago, but no one knows for sure how old it is.[1] 

        The development of farming gave rise to the Neolithic Revolution as people gave up nomadic 
       hunting and became settlers in cities.
       The word farmer usually refers to a person who has a field, orchard, vineyard, or garden where food is grown.
         This food is eaten or sold after it is harvested. Farmers may also grow raw materials for industrial purposes.
        Some examples of raw materials that are used in this way are
        Farming is growing crops and keeping animals for food and raw materials. Farming is a part of agriculture.

        Agriculture started thousands of years ago, but no one knows for sure how old it is.[1] 

        The development of farming gave rise to the Neolithic Revolution as people gave up nomadic 
       hunting and became settlers in cities.

    </p>
</body>
</html>