{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>

    <title>Document</title>
    <link rel="stylesheet" href="static 'css/java_jam.css">
   
    <link rel="stylesheet" href="{% static 'css/java_jam.css' %}">

</head>
<body>
    <div class="java"><h1 ><i>Javajam Coffee House </i> </h1></div>
     <h2 class="text">Home <br>Menu <br>
            Music <br> Vedio </h2>
    <div class="right">
        <h1 class="l">Jobs at JavaJam </h1>
    <div class="l"><p> Want to Work at javaJam? Fill up the form below to start your application. Required field are marking with an asterrick*</p> 
     <form >
        <label class="l" >*Name : </label>
        <input type="text" placeholder="your name here" > <br> <br>
        <label class="l" >*Email : </label>
        <input type="text" placeholder="your Email here"><br><br>
        <label >*Start Date : </label> 
        <input type="date" > <br> <br>
        <label >*Experience : </label>
        <textarea cols="30" rows="2" placeholder="Enter your commetes here"></textarea>
     </form>
     <button id="t">Apply now</button>
       </div>
    </div>
    <div class="end"><p id="center">copy @ 2017 javajam house</p></div>
    
</body>
</html>