{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/nasted_table.css'  %}">
    
    <title>First Nested Tables</title>
</head>
<body>
    <table border="5px">
        <tr>
        <th >First Nested Tables</th>
        <th>
            <ul>
                <li>VB Net </li>
                <li>Csharp</li>
                <li>Asp Net</li>
            </ul>
        </th>
        </tr>
        <tr>
            <th>
                <a href="https://support.google.com/chrome/a/answer/9227157?hl=en ">About</a>
            </th>
            <th>
                <img id="f" src="https://www.mozilla.org/media/protocol/img/logos/firefox/browser/logo.eb1324e44442.svg"  alt="image not found">
            </th>
        </tr>
    </table>
    
</body>
</html>